@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(246, 243, 236);
  background: radial-gradient(
    circle,
    rgba(246, 243, 236, 1) 0%,
    rgba(76, 9, 170, 1) 97%,
    rgba(205, 202, 202, 1) 100%
  );
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 80vh;
  background: url(./images/default.jpg) no-repeat center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  filter: brightness(1);
}

.top {
  text-align: center;
  z-index: 1;
}

.main-container h1 {
  color: #fff;
  line-height: 2;
  margin-bottom: 2em;
}

.top input,
.top button {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 5px;
  outline: none;
  border: none;
}

.top input {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(76, 9, 170, 1);
  border-radius: 10px 0 10px 0;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.top input:focus {
  color: #fff;
  font-size: 15px;
}

.top input::placeholder {
  color: rgba(255, 255, 255);
}

.top button {
  background-color: #9d0191;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.3rem;
  outline: none;
}

.top button:hover {
  background-color: #db6400;
}

.top .error {
  color: #fff;
  font-size: 14px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.location {
  padding-bottom: 15px;
  text-align: center;
  color: #fff;
  line-height: 2;
}

.location .city {
  font-weight: 700;
  font-size: 14px;
}

.location .date {
  font-weight: 700;
  font-size: 12px;
}

.current {
  width: 100%;
  position: relative;
  padding-top: 10px;
  color: #fff;
  font-weight: 700;
}

.top .error {
  color: red;
  font-weight: 700;
}

.current > * {
  padding-bottom: 10px;
}
